main {
    padding-left: 15%;
    padding-right: 15%;
}
.top {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 2em;
}
.top-left {
    width: 70%;
}
.top-right {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
div.top-right > button{
    cursor: pointer;
    outline: none;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    font-size: 14px;
    font-weight: 500;
}

.need-help {
    color: #000000de;
    background-color: #fff;
}
.inleveren {
    color: #fff;
    background-color: #57be8e;
}

.exercise-container {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.exercise-info, .exercise {
    background: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
.exercise-info {
min-width: 310px;
flex: 1;
position: relative;
object-fit: contain;

}
.exercise{
    width: 760px;
    object-fit: contain;

}
.exercise-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

